<%- include('head') %>
<%- include('header') %>
<div class="intro mainbox">
	<h2>earth is undergoing a <br><b>sixth mass extinction</b></h2>
	<div class="textbox">
		<p>Technology cannot replace the biodiversity on planet Earth. But we can stop the loss of wildlife happening across the globe.</p>

		<p><b>what can I do?</b></p>

		<p>Hold politicians and businesses accountable. Make climate justice a priority when you make desicions. Educate yourself. Talk to people about it. Make climate-friendly lifestyle changes. Join a climate justice organisation. Don't lose hope.</p>

	</div>

	<div class="about bottombar">
		<form id="formPlayAgain" name="formplayagain" method="post" action="/playagain">
				<button id="btnPlayAgain" type="submit">play again</button>
		</form>
	</div>
</div>
<%- include('foot') %>