<%- include('head') %>
<%- include('header') %>
	<div class="intro mainbox">
	    <h2>about<br><b>geogenics</b></h2>

	    <div class="textbox">
		    <p>Here at <b>geogenics</b>, we are proud to be delivering the next step in artificial biodiversity.</p>
		    <p>Our state-of the art technology is constantly improving and expanding our vast collection of animals, designed so that <u>you</u> can live your best and most productive life, instead of worrying about the mass extinction of animals across the globe.</p>
		    <p>The most recent addition to our catalogue is our long-awaited bird collection:</p>
		</div>

	    <div class="imgcollection">
		    <div class="imgcontainer">
		    	<img src="/images/example_bird_1.png" alt="a computer generated image which resembles a bird, but looks uncanny">
		    	<p class="imgtext">Vime's Crukebird</p>
		    </div>
		    <div class="imgcontainer">
		    	<img src="/images/example_bird_2.png" alt="a computer generated image which resembles a bird, but looks uncanny">
		    	<p class="imgtext">Great Chradsbowler</p>
		    </div>
		    <div class="imgcontainer">
		    	<img src="/images/example_bird_3.png" alt="a computer generated image which resembles a bird, but looks uncanny">
		    	<p class="imgtext">White-throated Gristlefowl</p>
		    </div>
		    <div class="imgcontainer">
		    	<img src="/images/example_bird_4.png" alt="a computer generated image which resembles a bird, but looks uncanny">
		    	<p class="imgtext">Buff-bellied Mawkinch</p>
		    </div>
		</div>

	    <div class="bottombar">
	    	<div class="progressbar"> <div class="progress" style="width: 40%;"> </div> </div>
	    	<form id="formGetToneofvoice" name="formgettoneofvoice" method="post" action="/gettoneofvoice">
    			<button id="btnGetToneofvoice" type="submit"><i class="fas fa-arrow-right"></i></button>
    		</form>	
	    </div>
  </div>
<%- include('foot') %>