<%- include('head') %>
<%- include('header') %>
<div class="intro mainbox">
	<h2>about <br><b>this game</b></h2>
	<div class="credits textbox">
		<p>This game was made by<br><b>Jorid Jonland</b></p>
		
		<p>You can check out more of my work on <a href="http://jonland.io">my website</a>.</p>

		<br>

		<p>Bird names were generated using Max Woolf's <a href="https://github.com/minimaxir/textgenrnn">textgenrnn</a>.</p>
		<p>Bird images were generated using Taehoon Kim's <a href="https://github.com/carpedm20/DCGAN-tensorflow">DCGAN-tensorflow</a>.</p>
		<p>I used the <a href="http://www.vision.caltech.edu/visipedia/CUB-200-2011.html">Caltech-UCSD Birds-200-2011</a> dataset to train my model.<br><span class="smol">Wah C., Branson S., Welinder P., Perona P., Belongie S. “The Caltech-UCSD Birds-200-2011 Dataset.” Computation & Neural Systems Technical Report, CNS-TR-2011-001.</span></p>

		<br>

		<p>Thank you for playing!</p>

	</div>
</div>
<%- include('foot') %>