<%- include('head') %>
	<%- include('header') %>
    <div class="index mainbox">
    <h1>new employee <br> induction programme</h1>

     <form id="formBegin" name="formbegin" method="post" action="/getwelcome">
    	<button id="btnBegin" type="submit">begin</button>
    </form>
  </div>
<%- include('foot') %>