<%- include('head') %>
<%- include('header') %>
    <div class="intro mainbox">
    <h2>words matter at<br><b>geogenics</b></h2>
	<div class="textbox">
		<p>As an employee here at <b>geogenics</b>, you are an ambassador for our brand and our values. In order to keep our messaging consistent and ensure that our values are being communicated, we ask you to follow these guidelines:</p>
		<table>
			<tr>
				<th>do not use</th>
				<th>use instead</th>
			</tr>
			<tr>
				
				<td><i class="fas fa-times-circle"></i> 'climate crisis'</td>
				<td><i class="fas fa-check-circle"></i> 'climate opportunities'</td>
			</tr>
			<tr>
				
				<td><i class="fas fa-times-circle"></i> 'climate science denier'</td>
				<td><i class="fas fa-check-circle"></i> 'climate optimist'</td>
			</tr>
			<tr>
				<td><i class="fas fa-times-circle"></i> 'mass extinction'</td>
				<td><i class="fas fa-check-circle"></i> 'modern biodiversity'</td>
			</tr>
			<tr>
				<td><i class="fas fa-times-circle"></i> words that inspire fear, worry or anxiety</td>
				<td><i class="fas fa-check-circle"></i> words that inspire joy</td>
			</tr>
			<tr>
				<td><i class="fas fa-times-circle"></i> words that inspire action</td>
				<td><i class="fas fa-check-circle"></i> words that inspire complacency</td>
			</tr>
			
		</table>
	</div>

    <div class="bottombar">
    	<div class="progressbar"> <div class="progress" style="width: 60%;"> </div> </div>
    	<form id="formGetYourjob" name="formgetyourjob" method="post" action="/getyourjob">
	    			<button id="btnGetYourjob" type="submit"><i class="fas fa-arrow-right"></i></button>
	    	</form>
    </div>
     
  </div>
<%- include('foot') %>