<%- include('head') %>
<%- include('header') %>
<div class="intro mainbox">
	<h2>welcome to<br><b>geogenics</b></h2>
	<div class="textbox">
		<p>We are lucky to have <u>you</u> on board, dear employee #4811!</p>
		<p>Before you can begin your work here at <b>geogenics</b>, we ask you to complete this short induction. You can track your progress with the bar below.</p>
	</div>

	<div class="bottombar">
		<div class="progressbar"> 
			<div class="progress" style="width: 20%;"> 
			</div> 
		</div>
		<form id="formGetCompany" name="formgetcompany" method="post" action="/getcompany">
				<button id="btnGetCompany" type="submit"><i class="fas fa-arrow-right"></i></button>
		</form>
	</div>
</div>
<%- include('foot') %>