<%- include('head') %>
	<%- include('header') %>
    <div class="intro mainbox">
    <h2>your job at<br><b>geogenics</b></h2>
	<div class="textbox">
		<p>Your job as a <b>turing tester</b> is central to our business, and ensures that we provide only the best service to our customers.</p>
		<p>As all of the animals we provide here at <b>geogenics</b> are machine generated, there is a small chance that our generated material does not quite meet the standards of our discerning customers. Your work will consist of identifying this material, so that we can continue to improve our service.</p>
		<p>Here at <b>geogenics</b>, we believe that humans and machines can create wonderful things when working together. Our <b>advanced turing identification software</b>&trade;&reg; will enable you to work with the machine to find great solutions together!</p>
	</div>

    <div class="bottombar">
    	<div class="progressbar"> <div class="progress" style="width: 80%;"> </div> </div>
    	<form id="formPlay" name="formplay" method="get" action="/play">
    			<button id="btnPlay" type="submit"><i class="fas fa-arrow-right"></i></button>
    	</form>
    </div>
     
  </div>
<%- include('foot') %>